name: .NET CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Restore dependencies
      # GitHub'a projenin hangi klasörde olduğunu tam yoluyla söylüyoruz
      run: dotnet restore GymBookingApp.Api/GymBookingApp.Api.sln
      
    - name: Build
      run: dotnet build GymBookingApp.Api/GymBookingApp.Api.sln --no-restore
      
    - name: Test
      run: dotnet test GymBookingApp.Api/GymBookingApp.Api.sln --no-build --verbosity normal
